<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register S&B</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <center>
  <div class="register-form-container">
    <h2 class="form-title">Login</h2>
    <form class="" action="/login" method="post">
      <table>
        <div class="form-field">
          <tr>
            <td><label for=""></label></td>
            <td><input type="text" name="email" placeholder="Enter your email"></td>
          </tr>
        </div>
        <div class="form-field">
          <tr>
            <td><label for=""></label></td>
            <td><input type="password" name="password" id = "psw" placeholder="Enter password"></td>
            <!-- <span id = message2 style="color:red"></span><br> -->
          </tr>
        </div>
      </table>
      <br>
      <button type="submit" name="button" class="submitForm" value="submit">Send</button><br>
      <h4> <a href="/Register">Register</a></h4>
    </center>
    </form>
  </div
  </body>
</html>
